
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
            <div>
                <h1 style="padding-bottom: 1.5625rem">Do You Have Something To Say? Get In Touch</h1>
                <p>Lorem ipsum dolor sit amet, illum solet invidunt mel te, in vidit torquatos has, nihil detraxit ex cum. Ipsum atqui vivendum ex qui. Option ullamcorper ex mea, hinc elitr ex eam. At vis debet percipit, sanctus reformidans consectetuer sed no.</p>
                <p>Fugit veniam quaerendum id mea, vix atomorum molestiae ea. Ad nam inani volumus consectetuer, laudem tempor phaedrum pri ne. Et pro dicant oblique eripuit, zril commodo consetetur ea vix.</p>
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
            <form class="w-100">
              <div class="form-group">
                <label for="exampleFormControlInput1">Name</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="e.g. Joesph Bloggs">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Email address</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="e.g. jbloggs@gmail.com">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Subject</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="e.g. Making reviews">
              </div>
              <div class="form-group">
                <label for="exampleFormControlInput1">Enquiry</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="e.g. How do I make a review too?"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
        </div>
        <div class="col-lg-6 d-flex align-items-center" style="padding-top:80px">
            <div class="w-100 h-100">
                <img class="w-100" style="width:inherit" src="https://images.unsplash.com/photo-1552973315-27072571ee52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80">
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center" style="padding-top:80px">
            <div>
                <h1 style="padding-bottom: 1.5625rem">Do You Have Something To Say? Get In Touch</h1>
                <p>Lorem ipsum dolor sit amet, illum solet invidunt mel te, in vidit torquatos has, nihil detraxit ex cum. Ipsum atqui vivendum ex qui.</p>
                <p>Fugit veniam quaerendum id mea, vix atomorum molestiae ea. Ad nam inani volumus consectetuer, laudem tempor phaedrum pri ne. Et pro dicant oblique eripuit, zril commodo consetetur ea vix.</p>
            </div>
        </div>
      </div>
