<div class="row">
                
        <div class="col-lg-6 d-flex align-items-center">
            <div>
                <h1 style="padding-bottom: 1.5625rem">Welcome To reviwApp, Get Started Today!</h1>
                <p>Lorem ipsum dolor sit amet, illum solet invidunt mel te, in vidit torquatos has, nihil detraxit ex cum. Ipsum atqui vivendum ex qui.</p>
                <p>Fugit veniam quaerendum id mea, vix atomorum molestiae ea. Ad nam inani volumus consectetuer, laudem tempor phaedrum pri ne. Et pro dicant oblique eripuit, zril commodo consetetur ea vix.</p>
            </div>
            
        </div>
        <div class="col-lg-6 d-flex align-items-center">
            <div class="w-100 h-100">
                <img class="w-100" style="width:inherit" src="https://images.unsplash.com/photo-1552973315-27072571ee52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80">
            </div>
        </div>
          
        <div class="col-lg-3 d-flex align-items-center"></div>
        <div class="col-lg-6 d-flex align-items-center text-center" style="padding-top:80px">
            <div>
                <h1 style="padding-bottom: 1.5625rem">Voted Your No.1 Electrical Review Site 2019</h1>
                <p>Lorem ipsum dolor sit amet, illum solet invidunt mel te, in vidit torquatos has, nihil detraxit ex cum. Ipsum atqui vivendum ex qui.Fugit veniam quaerendum id mea, vix atomorum molestiae ea. Ad nam inani volumus consectetuer, laudem tempor phaedrum pri ne. Et pro dicant oblique eripuit, zril commodo consetetur ea vix.</p>
                <p>Fugit veniam quaerendum id mea, vix atomorum molestiae ea. Ad nam inani volumus consectetuer, laudem tempor phaedrum pri ne. Et pro dicant oblique eripuit, zril commodo consetetur ea vix.</p>
            </div>
        </div>
        <div class="col-lg-3 d-flex align-items-center"></div>
          
        <div class="col-lg-6 d-flex align-items-center" style="padding-top:80px">
            <div class="w-100 h-100">
                <img class="w-100" style="width:inherit" src="https://images.unsplash.com/photo-1552973315-27072571ee52?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=751&q=80">
            </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center" style="padding-top:80px">
            <div>
                <h1 style="padding-bottom: 1.5625rem">Do You Have Something To Say? Get In Touch</h1>
                <p>Lorem ipsum dolor sit amet, illum solet invidunt mel te, in vidit torquatos has, nihil detraxit ex cum. Ipsum atqui vivendum ex qui.</p>
                <p>Fugit veniam quaerendum id mea, vix atomorum molestiae ea. Ad nam inani volumus consectetuer, laudem tempor phaedrum pri ne. Et pro dicant oblique eripuit, zril commodo consetetur ea vix.</p>
            </div>
        </div>
      </div>
